node_modules
.next
.next-build
.next-preview
out
install.log
.DS_Store
logo/
high1.jpg
chariow.jpg
dashboard maketou.jpg
t1.jpg
t2.jpg
t3.jpg
t4.jpg
t5.jpg
t6.jpg
t7.jpg
command 60400f.jpg
banner.jpg
6200.jpg
15000.jpg
25000.jpg
photo_2026-08-19_20-55-41.jpg
preview.log
t1video.MOV
t2video.MOV
t3video.MOV
t4video.MOV
t5video.MOV
